# --- Python Basics ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Virtual Env ---
venv/
.env
.venv
env/
ENV/

# --- ML & Data (Important!) ---
# Ignore datasets (too large for git)
*.csv
*.parquet
data/
connection_check.py
# Ignore trained models (unless you specifically want to version small ones)
*.pkl
*.h5
*.joblib
models/
model_artifacts/

# --- MLflow ---
mlruns/
.trash/

# --- IDEs ---
.idea/
.vscode/
*.swp
.DS_Store